In [1]:
import numpy as np
import pandas as pd

In [2]:
rng = pd.date_range('3/6/2012 00:00', periods = 15, freq = 'D')
rng.tz

In [3]:
rng_tz = pd.date_range('3/6/2012 00:00', periods = 15, freq = 'D', tz = 'Europe/London')
rng_tz.tz

In [4]:
from pytz import common_timezones, all_timezones
print(len(common_timezones))
print(len(all_timezones))
print(set(all_timezones) - set(common_timezones))

439
593
{'Asia/Istanbul', 'GMT+0', 'Singapore', 'Africa/Timbuktu', 'PST8PDT', 'Australia/South', 'America/Virgin', 'Japan', 'Asia/Ujung_Pandang', 'America/Rosario', 'America/Cordoba', 'Libya', 'Asia/Dacca', 'America/Mendoza', 'CET', 'America/Catamarca', 'MST', 'Etc/GMT+6', 'Kwajalein', 'CST6CDT', 'Etc/GMT-12', 'Asia/Harbin', 'Etc/GMT-14', 'Etc/GMT+5', 'Asia/Ashkhabad', 'Etc/GMT+12', 'Cuba', 'Europe/Tiraspol', 'Israel', 'Etc/GMT+1', 'Turkey', 'America/Jujuy', 'W-SU', 'Etc/GMT-7', 'Asia/Ulan_Bator', 'US/East-Indiana', 'Australia/North', 'WET', 'Asia/Katmandu', 'Etc/GMT+2', 'America/Atka', 'Iceland', 'Asia/Macao', 'Pacific/Yap', 'Canada/Yukon', 'America/Montreal', 'America/Argentina/ComodRivadavia', 'Australia/Tasmania', 'Etc/GMT-13', 'Etc/Zulu', 'Asia/Calcutta', 'America/Knox_IN', 'Etc/GMT-2', 'EET', 'Pacific/Samoa', 'Australia/Victoria', 'Australia/West', 'Asia/Tel_Aviv', 'ROC', 'Jamaica', 'Etc/GMT+10', 'UCT', 'Asia/Saigon', 'Atlantic/Jan_Mayen', 'Etc/GMT-9', 'Etc/GMT-0', 'GB-Eire', 'Etc/Universal', 'Etc/GMT-4', 'Etc/GMT-11', 'America/Ensenada', 'Zulu', 'US/Pacific-New', 'Etc/GMT+11', 'Asia/Chungking', 'NZ', 'Australia/Yancowinna', 'Etc/GMT-10', 'Europe/Belfast', 'Egypt', 'America/Buenos_Aires', 'America/Shiprock', 'US/Indiana-Starke', 'Navajo', 'Etc/UTC', 'Etc/GMT0', 'ROK', 'Pacific/Johnston', 'NZ-CHAT', 'Canada/East-Saskatchewan', 'Mexico/BajaNorte', 'Antarctica/South_Pole', 'Australia/NSW', 'PRC', 'EST', 'US/Aleutian', 'Eire', 'Brazil/Acre', 'America/Indianapolis', 'US/Samoa', 'Etc/GMT-6', 'America/Louisville', 'Pacific/Truk', 'Atlantic/Faeroe', 'Poland', 'GMT0', 'GMT-0', 'Etc/GMT+7', 'Australia/Canberra', 'Chile/EasterIsland', 'America/Fort_Wayne', 'EST5EDT', 'Etc/GMT+8', 'GB', 'US/Michigan', 'Hongkong', 'Universal', 'Greenwich', 'Portugal', 'Mexico/General', 'Asia/Rangoon', 'Etc/GMT+9', 'Brazil/West', 'Asia/Kashgar', 'Asia/Chongqing', 'Australia/ACT', 'Etc/GMT+0', 'Etc/GMT-3', 'Brazil/East', 'Australia/LHI', 'Mexico/BajaSur', 'Brazil/DeNoronha', 'Pacific/Ponape', 'MET', 'Etc/GMT+3', 'Canada/Saskatchewan', 'America/Santa_Isabel', 'America/Porto_Acre', 'Africa/Asmera', 'Etc/Greenwich', 'MST7MDT', 'Etc/GMT-5', 'Chile/Continental', 'HST', 'Etc/GMT-8', 'America/Coral_Harbour', 'Asia/Thimbu', 'Iran', 'Australia/Queensland', 'Etc/GMT', 'Europe/Nicosia', 'Etc/UCT', 'Etc/GMT+4', 'Etc/GMT-1'}

In [9]:
set(all_timezones) - set(common_timezones)

{'Africa/Asmera',
 'Africa/Timbuktu',
 'America/Argentina/ComodRivadavia',
 'America/Atka',
 'America/Buenos_Aires',
 'America/Catamarca',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Ensenada',
 'America/Fort_Wayne',
 'America/Indianapolis',
 'America/Jujuy',
 'America/Knox_IN',
 'America/Louisville',
 'America/Mendoza',
 'America/Montreal',
 'America/Porto_Acre',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Shiprock',
 'America/Virgin',
 'Antarctica/South_Pole',
 'Asia/Ashkhabad',
 'Asia/Calcutta',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Dacca',
 'Asia/Harbin',
 'Asia/Istanbul',
 'Asia/Kashgar',
 'Asia/Katmandu',
 'Asia/Macao',
 'Asia/Rangoon',
 'Asia/Saigon',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Ujung_Pandang',
 'Asia/Ulan_Bator',
 'Atlantic/Faeroe',
 'Atlantic/Jan_Mayen',
 'Australia/ACT',
 'Australia/Canberra',
 'Australia/LHI',
 'Australia/NSW',
 'Australia/North',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/East-Saskatchewan',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Belfast',
 'Europe/Nicosia',
 'Europe/Tiraspol',
 'GB',
 'GB-Eire',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Johnston',
 'Pacific/Ponape',
 'Pacific/Samoa',
 'Pacific/Truk',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Aleutian',
 'US/East-Indiana',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Pacific-New',
 'US/Samoa',
 'Universal',
 'W-SU',
 'WET',
 'Zulu'}

In [10]:
# You can also localize a naive timestamp
t_naive = pd.Timestamp('2016-07-10 08:50')
t_naive

Timestamp('2016-07-10 08:50:00')

In [14]:
t = t_naive.tz_localize(tz = 'US/Central')
t

Timestamp('2016-07-10 08:50:00-0500', tz='US/Central')

In [15]:
t.tz_convert('Asia/Tokyo')

Timestamp('2016-07-10 22:50:00+0900', tz='Asia/Tokyo')

In [28]:
# how to handle daylight savings?
rng = pd.date_range('2016-03-10', periods=10, tz='US/Central')
ts = pd.Series(range(10), index=rng)
ts

2016-03-10 00:00:00-06:00    0
2016-03-11 00:00:00-06:00    1
2016-03-12 00:00:00-06:00    2
2016-03-13 00:00:00-06:00    3
2016-03-14 00:00:00-05:00    4
2016-03-15 00:00:00-05:00    5
2016-03-16 00:00:00-05:00    6
2016-03-17 00:00:00-05:00    7
2016-03-18 00:00:00-05:00    8
2016-03-19 00:00:00-05:00    9
Freq: D, dtype: int32

In [29]:
rng = pd.date_range('2016-03-10', periods=10, tz='utc')
ts = pd.Series(range(10), index=rng)
ts

2016-03-10 00:00:00+00:00    0
2016-03-11 00:00:00+00:00    1
2016-03-12 00:00:00+00:00    2
2016-03-13 00:00:00+00:00    3
2016-03-14 00:00:00+00:00    4
2016-03-15 00:00:00+00:00    5
2016-03-16 00:00:00+00:00    6
2016-03-17 00:00:00+00:00    7
2016-03-18 00:00:00+00:00    8
2016-03-19 00:00:00+00:00    9
Freq: D, dtype: int32

In [34]:
ts.tz_convert('US/Central')

2016-03-09 18:00:00-06:00    0
2016-03-10 18:00:00-06:00    1
2016-03-11 18:00:00-06:00    2
2016-03-12 18:00:00-06:00    3
2016-03-13 19:00:00-05:00    4
2016-03-14 19:00:00-05:00    5
2016-03-15 19:00:00-05:00    6
2016-03-16 19:00:00-05:00    7
2016-03-17 19:00:00-05:00    8
2016-03-18 19:00:00-05:00    9
Freq: D, dtype: int32

In [35]:
pd.date_range('03-12-2016 22:00', periods = 12, freq = 'H', tz = 'US/Eastern')

DatetimeIndex(['2016-03-12 22:00:00-05:00', '2016-03-12 23:00:00-05:00',
               '2016-03-13 00:00:00-05:00', '2016-03-13 01:00:00-05:00',
               '2016-03-13 03:00:00-04:00', '2016-03-13 04:00:00-04:00',
               '2016-03-13 05:00:00-04:00', '2016-03-13 06:00:00-04:00',
               '2016-03-13 07:00:00-04:00', '2016-03-13 08:00:00-04:00',
               '2016-03-13 09:00:00-04:00', '2016-03-13 10:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', freq='H')

In [36]:
# May autocorrect an error rather than giving you a non-existent time error
pd.Timestamp('2016-03-13 02:00', tz = 'US/Eastern')

NonExistentTimeError: 2016-03-13 02:00:00